<h1>
    <u>Contact</u></h1>
/{{contact-rs}}/<br/>/{{contact-rue}}/<br/>/{{contact-cp}}/ - /{{contact-ville}}/
<div id="map" style="height:200px"></div>
<script>
    var map = L.map('map').setView([/{{contact-geoloc-lat}}/, /{{contact-geoloc-lng}}/], 13);

    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: '&copy; Orsys Formation 2018'
    }).addTo(map);

    L.marker([/{{contact-geoloc-lat}}/, /{{contact-geoloc-lng}}/]).addTo(map)
        .bindPopup('/{{contact-rs}}/<br/>/{{contact-rue}}/<br/>/{{contact-cp}}/ - /{{contact-ville}}/')
        .openPopup();
</script>